<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<h3>Login</h3>
<form action="/login" method="post">
{% csrf_token %}
    <div class="mb-3">
        <label for="">Usernname</label>
        <input type="text" id="username" name="username" placeholder="Create a username" required>
    </div>
    <br>

    <div class="mb-3">
        <label for="">Password</label>
        <input type="password" id="password" name="password" placeholder="Create a password" required>
    </div>
    <br>

    <button type="submit">Login</button>
</form>
</body>
</html>